[submodule "orb-slam3/ORB_SLAM3"]
	path = orb-slam3/ORB_SLAM3
	url = https://github.com/vnmsklnk/ORB_SLAM3
	branch = TwoVIew
[submodule "bundle-fusion/BundleFusionUbuntu"]
	path = bundle-fusion/BundleFusionUbuntu
	url = https://github.com/MobileRoboticsSkoltech/BundleFusionUbuntu.git
[submodule "planar-slam/PlanarSLAM"]
	path = planar-slam/PlanarSLAM
	url = https://github.com/yanyan-li/PlanarSLAM.git
